[submodule "external/libguarded"]
	path = external/libguarded
	url = https://github.com/copperspice/cs_libguarded.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/mem_scanner"]
	path = external/mem_scanner
	url = https://github.com/localcc/LightningScanner.git
[submodule "external/xxhash"]
	path = external/xxhash
	url = https://github.com/Cyan4973/xxHash
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/asbind20"]
	path = external/asbind20
	url = https://github.com/HenryAWE/asbind20.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/s3tc"]
	path = external/s3tc
	url = https://github.com/Benjamin-Dobell/s3tc-dxt-decompression.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/dx_xtk"]
	path = external/dx_xtk
	url = https://github.com/microsoft/DirectXTK.git
[submodule "external/dx_math"]
	path = external/dx_math
	url = https://github.com/microsoft/DirectXMath.git
