[submodule "external/luajit"]
	path = external/luajit
	url = https://luajit.org/git/luajit.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/sol"]
	path = external/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "external/mem_scanner"]
	path = external/mem_scanner
	url = https://github.com/localcc/LightningScanner.git
[submodule "external/xenium"]
	path = external/xenium
	url = https://github.com/mpoeter/xenium.git
[submodule "external/libguarded"]
	path = external/libguarded
	url = https://github.com/copperspice/cs_libguarded.git
[submodule "external/xxhash3"]
	path = external/xxhash3
	url = https://github.com/pombredanne/xxHash-3.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "external/dx_xtx"]
	path = external/dx_xtx
	url = https://github.com/microsoft/DirectXTK.git
[submodule "external/dx_math"]
	path = external/dx_math
	url = https://github.com/microsoft/DirectXMath.git
